* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background: linear-gradient(136.16deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    align-items: baseline;
    margin-top: 40px;
}

.header-left {
    margin-left: 165px;

}

.link-header:hover {
    opacity: 0.8;
}

.header-right {
    margin-left: 50%;
    display: flex;
    gap: 54px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

}

a {
    position: relative
}

a::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #ffffff;
    transition: 0.3s;
}

a:hover::after {
    width: 100%;
}

.login {
    margin-left: 47px;
    width: 97px;
    height: 41px;
    padding: 10px 20px 10px 20px;
    border-radius: 41px;
    border: 1px solid #ffffff;
    gap: 10px;
    background: transparent;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.login:hover {
    opacity: 0.5;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    padding: 100px;
}

.pumpkin {
    width: 701px;
    height: 849px;
    position: absolute;
    top: -125px;
    left: 100px;
    animation: movePumpkin 2s infinite alternate ease-in-out;
}

.container-left {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 400px;
    margin-left: -150px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
}

.p-pumpkin {
    margin-top: 3px;
    margin-left: -120px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.ping {
    position: absolute;
    width: 8px;
    height: 100px;
    margin-top: -100px;
    margin-left: 10px;
}

.container-right {
    width: 500px;
    height: 378px;
    margin-top: -250px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 68px;
    font-weight: 900;
    line-height: 74px;
    color: #ffffff;
    margin-top: 14px;
    margin-bottom: 25px;
}

.text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: #ffffff;
}

.container-actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    margin-top: 50px;
}

.container-actions button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    background-image: url('./assets/bg-button.png');
    background-color: transparent;
    border: none;
    padding: 29px 60px;
    color: #303056;
}

.container-actions button:hover {
    opacity: 0.8;
    color: #ffffff;
}

.container-actions a {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    color: #ffffff;
}

.container-actions a:hover {
    opacity: 0.5;
}

.container-actions img {
    width: 30px;
    height: 10px;
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: -100px;
}

footer button {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    background-image: url('./assets/bg-button-alpha.png');
    background-color: transparent;
    border: none;
    padding: 22px 45px;
    color: #ffffff;
}

footer button:hover {
    color: #303056;
    ;

}

@keyframes movePumpkin {
    from {
        transform: translate(-1%, -1%) rotate(5deg);
    }

    to {
        transform: translate(0%, 0%) rotate(-5deg);
    }
}


@media screen and (max-width:1550px) {

    .header-left {
        margin-left: 50px;

    }

    .header-right {
        width: 80vw;
        margin-left: 40%;
        gap: 50px;
    }

    .login {
        margin-left: 0;
        margin-right: 85px;
    }

    main {
        padding: 10px;
    }

    .pumpkin {
        width: 500px;
        height: auto;
        top: -150px;
        left: 0px;
    }

    .responsividade {
        width: 300px;
        height: 200px;
        margin: 100px 250px 0px 300px;
    }

    h3 {
        margin-top: 120px;
        margin-left: -150px;
    }

    .container-right {
        width: 600px;
        height: 300px;
        margin-top: -200px;
        margin-left: -300px;
    }

    h2 {
        font-size: 14px;
    }

    h1 {
        font-size: 36px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 12px;
    }

    .container-actions {
        width: 300px;
        margin-left: 100px;
    }

    footer {
        margin-bottom: 50px;
        margin-top: -50px;
    }

}

@media screen and (max-width:1030px) {
    .header-right {
        display: none;
    }

    .header-left {
        margin-left: 50px;
    }

    .login {
        margin-left: 60%;
    }

    .pumpkin {
        width: 100%;
        height: auto;
        top: -330px;
        left: -5%;
    }

    main {
        align-items: center;
        justify-content: center;
    }

    .container-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 800px auto 0 auto;
        text-align: center;
        width: 500px;
        height: 378px;
    }

    .responsividade {
        margin-top: -150px;
        position: absolute;
        left: 10%;
    }

    .ping {
        margin-top: -100px;
    }

    footer button {
        margin: 250px 0px 10px 0px;
    }


    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 68px;
        margin-top: 14px;
        margin-bottom: 25px;
    }

    .text {
        font-size: 16px;
    }

    .container-actions {
        width: 100%;
        gap: 200px;
        margin: 50px auto 0 auto;
    }
}

@media screen and (max-width: 500px) {

    body {
        width: 100vw;
    }


    .header-left {
        margin-left: 30px;
        margin-right: 100px;
        width: 100vw;
    }

    .login {
        margin-left: 11%;
    }

    .pumpkin {
        top: -100px;
        margin-left: -10px;
    }

    .container-right {
        width: 350px;
        margin-top: 650px;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .responsividade {
        margin-top: -230px;
        position: absolute;
        left: 0%;
        margin-left: 220px;
        width: 10px;
    }

    .container-actions {
        gap: 50px;
    }

    footer button {
        margin-top: 350px;
    }
}

@media screen and (max-width: 400px) {

    .header-left {
        margin-right: 75px;
    }

    .pumpkin {
        width: 350px;
        top: -70px;
        margin-left: -0px;
    }

    .container-right {
        margin-top: 750px;
    }

    .responsividade {
        margin-top: -150px;
    }

    footer button {
        margin-top: 450px;
    }
}